.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
